* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #612d02;
  text-decoration: none;
}
.dancing-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #483520;
}
#container {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f2e5e4;
}
main{
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* ============================ */

#main-panel {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 300px;
  height: 170px;
  /*background-image: linear-gradient(to right, rgb(150, 98, 55), #f2e5e4); /* Exemplo: degradê horizontal de vermelho para azul */
  background-image: linear-gradient(to bottom, #f2e5e4 60%, #000 150%); 
}
#div-logo-and-description {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 230px;  
}
#img-foto-thais {
  width: 150px;
  height: 160px;
  margin-top: 10px;  
}
#img-logo {
  width: 130px;
  height: auto;
}
#txt-painel-inicial {
  text-align: center;
  font-size: 6px;
}
#main-panel-button {
  width: 130px;
  height: 25px;
  border-radius: 10px;
  font-size: 10px;
  color: #4b3a17;
  font-family: "Playfair Display", serif;
  background-color: #e4b3a4;
  border-color: #bea25f;
  margin-top: 10px;
}
.seta {
  background-color: #e4b3a4;
  font-size: 10px; /* seta maior que o texto */
  vertical-align: text-top; /* alinha verticalmente */
  margin-left: 5px;
  top: 0;
}
#courses-panel {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0d7d5;
  border: 2px solid #6d5b32;
  border-radius: 6px;
  margin: 0 auto;
  font-size: 10px;
  text-align: center;
}
#courses-panel-button {
  width: 280px;
  height: 25px;
  border-radius: 10px;
  font-size: 10px;
  color: #4b3a17;
  font-family: "Playfair Display", serif;
  background-color: #e4b3a4;
  border-color: #bea25f;
  margin-top: 10px;
  margin-bottom: 10px;
}
#img-courses{
  width: 280px;
  margin-top: 5px;
}
/* ============================ */

#links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
}
.div-link {
  width: 93px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ece1ad;
  border: 2px solid #6d5b32;
  border-radius: 10px;
  font-size: 13px;
  margin: 0 4px;
}
.img-link {
  width: 20px;
  height: auto;
  margin-left: 3px;
  margin-top: 7px;
}
#img-link-scheduling {
  width: 50px;
  height: auto;
  margin-top: 0;
}
#div-link-scheduling {
  width: 300px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ece1ad;
  border: 2px solid #6d5b32;
  border-radius: 10px;
  margin-top: 10px;
}
#scheduling{
  display: flex;
  align-items: center;
  justify-content: center;
}
#div-link-scheduling p {
  font-size: 14px;
}
#img-link-scheduling {
  margin-top: 6px;
  width: 30px;
}

/* ============================ */

#cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 20px;
}
.card{
  margin-top: 15px;
  width: 300px;
  background-color: #f0d7d5;
  border: 2px solid #6d5b32;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.txt-card li{
  width: 250px;
  font-size: 10px;
  margin-bottom: 7px;
}
.card-icon{
  width: 50px;
  margin-top: 15px;
  margin-left: 10px;
}
.card-img{
  width: 270px;
}
.card-button{
  width: 280px;
  height: 25px;
  border-radius: 10px;
  font-size: 10px;
  color: #4b3a17;
  font-family: "Playfair Display", serif;
  background-color: #e4b3a4;
  border-color: #bea25f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.color-randon{
  color: rgb(139, 58, 11);
}
.footer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#img-footer{
  margin-top: 50px;
  width: 300px;
}
